@charset "UTF-8";

body {
	background-color: #595b4b;
}

p {
	text-align: justify; 
	text-indent: 50px;
}

header#cabecalho {
	min-height: 80px;
  	position: fixed;
  	top: 0;
  	right: 0;
  	left: 0;
  	border-bottom: 1px solid #ccc;
  	background: #8ee4af;
  	z-index: 2;
}

header#cabecalho img#icone {
	position: absolute;
	left: 40px; 
	top: 10px;
}

nav#titulo {
	display: block;
	position: absolute;
	top: 80px;
  	right: 0;
  	left: 0;
  	padding: -40px 10px 10px 10px;
	background-color: #379683;
}

nav#titulo h3{
	position: relative; 
	top: 0;
	left: 920px;
	color: white;
}

nav#menu {
	left: 200px;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 880px;
}

nav#menu li {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #ffffff;
}

nav#menu a {
	color: #ffffff;
	text-decoration: none;
}

nav#menu a:hover {
	color: #000000;
	text-decoration: underline;
}

nav#menu h1 {
	display: none
}

div#interface {
	width: 1200px;
	margin: 140px auto 0px auto;
	padding: 10px 10px 10px 10px;
	background-color: #ffffff;
}

div#interface img#ImagemCentral {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer#rodape {
		clear: both;
}

footer#rodape p {
	text-align: center;
}	
	
